<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Casa dos Cupcakes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Casa dos Cupcakes 🍰</h1>

        <nav>
            <a href="/">Início</a>
            <a href="#cupcakes">Cupcakes</a>
            <a href="{{ url_for('pedidos') }}">Pedidos</a>
            <a href="#">Contato</a>
        </nav>
    </header>

    <main>

        <section class="banner">
            <h2>Doces momentos começam aqui</h2>

            <p>
                Cupcakes artesanais preparados com carinho para deixar
                seu dia ainda mais especial.
            </p>

            <a href="#cupcakes" class="botao">Ver cupcakes</a>
        </section>

        <section class="destaques" id="cupcakes">
    <h2>Nossos cupcakes</h2>

    <div class="produtos">

        {% for cupcake in cupcakes %}

        <article class="produto">

            <img src="{{ url_for('static', filename=cupcake.imagem) }}"
                 alt="{{ cupcake.nome }}">

            <h3>{{ cupcake.nome }}</h3>

            <p>{{ cupcake.descricao }}</p>

            <span class="preco">
                R$ {{ "%.2f"|format(cupcake.preco)|replace(".", ",") }}
            </span>

            <a href="{{ url_for('detalhes', id=cupcake.id) }}" class="botao-produto">
                Ver detalhes
            </a>

        </article>

        {% endfor %}

    </div>
</section>

    </main>

    <footer>
        <p>Casa dos Cupcakes - Projeto Integrador Transdisciplinar II</p>
    </footer>

</body>

</html>