<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Casa dos Cupcakes</h1>

        <nav>
            <a href="{{ url_for('inicio') }}">Início</a>
            <a href="{{ url_for('inicio') }}#cupcakes">Cupcakes</a>
            <a href="{{ url_for('pedidos') }}">Carrinho ({{ quantidade_carrinho }})</a>
            <a href="{{ url_for('contato') }}">Contato</a>
        </nav>
    </header>

    <main class="pagina-formulario">

        <section class="formulario-card">

            <h1>Entrar</h1>

            <p>Entre na sua conta da Casa dos Cupcakes.</p>

            {% if erro %}
                <p class="mensagem-erro">{{ erro }}</p>
            {% endif %}

            <form method="POST">

                <label for="email">E-mail</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                >

                <label for="senha">Senha</label>
                <input
                    type="password"
                    id="senha"
                    name="senha"
                    required
                >

                <button type="submit" class="botao">
                    Entrar
                </button>

            </form>

            <p class="texto-formulario">
                Ainda não possui uma conta?
                <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
            </p>

        </section>

    </main>

</body>
</html>