<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Meus Pedidos</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <main class="detalhe-produto">

        <div class="detalhe-info">

            <h1>Meu Pedido</h1>

            {% if itens %}

                {% for item in itens %}

                    <p>
                        {{ item.nome }}<br>
                        Quantidade: {{ item.quantidade }}<br>
                        Preço unitário: R$ {{ "%.2f"|format(item.preco)|replace(".", ",") }}<br>
                        <strong>Subtotal: R$ {{ "%.2f"|format(item.subtotal)|replace(".", ",") }}</strong>

                        <br><br>

                        <a href="{{ url_for('diminuir', id=item.id) }}" class="botao botao-mini">
                            −
                        </a>

                        <a href="{{ url_for('aumentar', id=item.id) }}" class="botao botao-mini">
                            +
                        </a>

                        <a href="{{ url_for('remover', id=item.id) }}" class="botao">
                            Remover
                        </a>
                    </p>

                    <hr>

                {% endfor %}

            {% else %}

                <p>Seu carrinho está vazio.</p>

            {% endif %}

            <div class="total-pedido">
                <h2>Total do pedido: R$ {{ "%.2f"|format(total)|replace(".", ",") }}</h2>
            </div>

            <br>

            {% if itens %}
            <a href="{{ url_for('esvaziar') }}" class="botao">
                Esvaziar carrinho
            </a>
            {% endif %}

            <a href="{{ url_for('inicio') }}" class="botao">
                Continuar comprando
            </a>

        </div>

    </main>

</body>

</html>