<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Meu Carrinho</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
    <h1>Casa dos Cupcakes</h1>

    <nav>
        <a href="{{ url_for('inicio') }}">Início</a>
        <a href="{{ url_for('inicio') }}#cupcakes">Cupcakes</a>
        <a href="{{ url_for('pedidos') }}">Carrinho ({{ quantidade_carrinho }})</a>
        <a href="{{ url_for('contato') }}">Contato</a>

        {% if usuario_nome %}
            <span>Olá, {{ usuario_nome }}</span>
            <a href="{{ url_for('logout') }}">Sair</a>
        {% else %}
            <a href="{{ url_for('login') }}">Entrar</a>
            <a href="{{ url_for('cadastro') }}">Criar conta</a>
        {% endif %}
    </nav>
</header>

    <main class="detalhe-produto">

        <div class="detalhe-info">

            <h1>Meu Carrinho</h1>

            {% if itens %}

                {% for item in itens %}

                    <div class="item-carrinho">

                        <img src="{{ url_for('static', filename=item.imagem) }}"
                            alt="{{ item.nome }}"
                            class="imagem-carrinho">

                        <p>
                            {{ item.nome }}<br>
                            Quantidade: {{ item.quantidade }}<br>
                            Preço unitário: R$ {{ "%.2f"|format(item.preco)|replace(".", ",") }}<br>
                            <strong>Subtotal: R$ {{ "%.2f"|format(item.subtotal)|replace(".", ",") }}</strong>

                            <br><br>

                            <a href="{{ url_for('diminuir', id=item.id) }}" class="botao botao-mini">
                            −
                            </a>

                            <a href="{{ url_for('aumentar', id=item.id) }}" class="botao botao-mini">
                            +
                            </a>

                            <a href="{{ url_for('remover', id=item.id) }}" class="botao">
                                Remover
                            </a>
                        </p>
                    </div>

                    <hr>

                {% endfor %}

            {% else %}

                <p>Seu carrinho está vazio.</p>

            {% endif %}

            <div class="total-pedido">
                <h2>Total do pedido: R$ {{ "%.2f"|format(total)|replace(".", ",") }}</h2>
            </div>

            <br>

            {% if itens %}
            <a href="{{ url_for('esvaziar') }}" class="botao">
                Esvaziar carrinho
            </a>

            <a href="{{ url_for('entrega') }}" class="botao">
                Finalizar pedido
            </a>

            {% endif %}

            <a href="{{ url_for('inicio') }}" class="botao">
                Continuar comprando
            </a>

        </div>

    </main>

</body>

</html>